<% include ../partials/header %>

<h1 class="display-1 text-center form-title">Edit Image Post</h1>

<form class=""
  action="/pets/<%= pet_id %>/imgs/<%= img._id %>?_method=PUT"
  method="post">
  <input class="form-control form-control-lg form-clean-wide"
  type="text" name="img[image]" value="<%= img.image %>" required>
  <textarea class="form-control form-control-lg form-clean-wide" name="img[caption]" required><%= img.caption %></textarea>
  <button class="btn btn-dark btn-xl" type="submit" name="button">Submit</button>
</form>

<div class="text-center">
  <a class="nav-link" href="/pets/<%= pet_id %>/imgs/<%= img._id %>">Back to Image Post</a>
</div>

<div class="text-center">
  <a class="nav-link" href="/pets/<%= pet_id %>">Back to Pet</a>
</div>



<!-- Button trigger modal -->
<div class="text-center mt-5">
  <button type="button" class="btn btn-outline-danger"
    data-toggle="modal" data-target="#deleteModal">
    Delete Post
  </button>
</div>


<!-- Modal -->
<div class="modal fade delete-modal" id="deleteModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="deleteModal">
          Delete Image Post
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Are you sure?
      </div>
      <div class="modal-footer text-center">
        <form class="text-center"
          action="/pets/<%= pet_id %>/imgs/<%= img._id %>?_method=DELETE"
          method="post">
          <button type="button" class="btn btn-secondary mr-3 btn-lg" data-dismiss="modal">No, Cancel</button>

          <button type="submit" class="btn btn-danger mr-2 ml-5 btn-lg">Yes, Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
