<% include ../partials/header %>

<h1 class="display-1 text-center form-title">Edit Image Post</h1>

<form class=""
  action="/pets/<%= pet_id %>/imgs/<%= img._id %>?_method=PUT"
  method="post">
  <input class="form-control form-control-lg form-clean-wide"
  type="text" name="img[image]" value="<%= img.image %>" required>
  <textarea class="form-control form-control-lg form-clean-wide" name="img[caption]" required><%= img.caption %></textarea>
  <button class="btn btn-dark btn-xl" type="submit" name="button">Submit</button>
</form>

<div class="text-center">
  <a class="nav-link" href="/pets/<%= pet_id %>/imgs/<%= img._id %>">Back to Image Post</a>
</div>

<div class="text-center">
  <a class="nav-link" href="/pets/<%= pet_id %>">Back to Pet</a>
</div>

<form class="text-center mt-4"
  action="/pets/<%= pet_id %>/imgs/<%= img._id %>?_method=DELETE"
  method="post">
  <button class="btn btn-outline-danger" type="submit" name="button">DELETE</button>
</form>


<% include ../partials/footer %>
