<% include ../partials/header %>

<h1>IMG SHOW PAGE</h1>

<img src="<%= img.image %>" alt="">
<p><%= img.caption %></p>

<hr>

<a href="/pets/<%= pet_id %>/imgs/<%= img._id %>/edit">EDIT</a>

<form class=""
  action="/pets/<%= pet_id %>/imgs/<%= img._id %>?_method=DELETE"
  method="post">
  <button class="btn btn-danger" type="submit" name="button">DELETE</button>
</form>

<hr>

<a href="/pets/<%= pet_id %>">Back to Pet</a>

<% include ../partials/footer %>
