<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PetFolio</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>

  <body>

<!-- MASTER CONTAINER -->
<div class="master-container">

  <!-- NAVBAR -->
      <nav class="navbar navbar-light fixed-top">
        <a class="navbar-brand" href="/pets">PetFolio</a>

            <a class="nav-link ml-auto" href="/about">About</a>

          <% if (currUser) { %>
            <a class="nav-link" href="/logout">Logout</a>
          <% } %>
      </nav>

<!-- SUB MASTER CONTAINER to container everything except the navbars -->
<div class="sub-master-container">

    <!-- SPACER NEEDED BECAUSE OF FIXED TOP -->
    <!-- <div class="fixed-spacer-top">
    </div> -->


<!-- FLash alert messages -->
<% if (success && success.length) { %>
  <div class="bg-dark img-page-alert">
    <div class="alert alert-success mx-4 mb-0" role="alert">
      <%= success %>
    </div>
  </div>
<% } else if (error && error.length) { %>
  <div class="container bg-dark">
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  </div>
<% } else { %>
  <!-- Top dark rectangle -->
  <div class="top-dark-rectangle">
  </div>
<% } %>

<!-- IMG LARGE -->
<img class="show-img-image" src="<%= img.image %>" alt="">

<!-- CAPTION -->
<p class="h2 text-center img-caption"><%= img.caption %></p>


<!-- User buttons -->
<% if (currUser && pet.user && pet.user._id.equals(currUser._id)) { %>
  <div class="text-center">
    <a class="btn btn-secondary" href="/pets/<%= pet._id %>/imgs/<%= img._id %>/edit">EDIT IMAGE POST</a>
  </div>
<% } %>

<!-- New Comment Form -->
<% if (currUser) { %>
  <div class="new-comment-container">
    <form class="mx-auto" action="/pets/<%= pet._id %>/imgs/<%= img._id %>/comments" method="post">
      <textarea class="form-control form-control-lg mb-4"
        name="comment[text]" placeholder="Enter new comment here."
        rows="4" cols="30" required></textarea>
      <% let currUserName; %>
      <% if (currUser.name) { %>
        <% currUserName = currUser.name; %>
      <% } else { %>
        <% currUserName = currUser.username; %>
      <% } %>
      <input class="d-none" type="text" name="comment[user_name]" value="<%= currUserName %>">
      <input class="d-none" type="text" name="comment[user_id]" value="<%= currUser._id %>">
      <button class="btn btn-primary btn-lg" type="submit" name="button">
        Submit Comment</button>
    </form>
  </div>

<% } %>


<!-- All Comments -->
<div class="comment-card-container">
  <% if (img.comments.length === 0) { %>
    <p class="text-center">No comments yet.</p>
      <% if (!currUser) { %>
        <p class="text-center">Login to comment on posts!</p>
      <% } %>
  <% } else { %>
    <% img.comments.forEach(function(comment, index){ %>
      <div class="comment-card">
        <p class="comment-by-line">
          <span class="date-text"><%= comment.date.toDateString() %></span>
          comment by
          <a href="/user/<%= comment.user_id %>">
            <%= comment.user_name %>
          </a>
        </p>
        <p class="comment-card-text">
          <%= comment.text %>
        </p>

        <!-- EDIT BUTTON -->
        <% if (currUser && currUser._id.equals(comment.user_id)){ %>
          <a class="btn btn-secondary"
            href="/pets/<%= pet._id %>/imgs/<%= img._id %>/comments/<%= index %>/edit">
            Edit Comment
          </a>
        <% } %>
      </div>

    <% });%>
  <% } %>
</div>

<!-- Back to pet page -->
<div class="text-center">
  <a class="btn btn-dark btn-lg mt-4" href="/pets/<%= pet._id %>/">Back to Pet Page</a>
</div>



<% include ../partials/footer %>
