<%- include ../partials/header %>

<h1>Edit page good</h1>

<form class=""
  action="/pets/<%= pet_id %>/imgs/<%= img_id %>/comments/<%= comment_idx %>?_method=PUT"
  method="post">
  <textarea name="text" rows="8" cols="80">
    <%= comment.text %>
  </textarea>
  <button type="submit" name="button">Submit</button>
</form>

<form class=""
  action="/pets/<%= pet_id %>/imgs/<%= img_id %>/comments/<%= comment_idx %>?_method=DELETE"
  method="post">
  <button class="btn btn-danger" type="submit" name="button">Delete</button>
</form>

<%- include ../partials/footer %>
