<%- include ../partials/header %>

<h1 class="display-1 text-center">Edit Comment</h1>

<form class="text-center"
  action="/pets/<%= pet_id %>/imgs/<%= img_id %>/comments/<%= comment_idx %>?_method=PUT"
  method="post">
  <textarea class="form-control form-control-lg my-5 p-3 rounded-0"
    name="text" rows="8" cols="5">
    <%= comment.text %>
  </textarea>
  <button class="btn btn-xl btn-primary"
    type="submit" name="button">Save Edits</button>
</form>

<form class="text-center mt-5"
  action="/pets/<%= pet_id %>/imgs/<%= img_id %>/comments/<%= comment_idx %>?_method=DELETE"
  method="post">
  <button class="btn btn-outline-danger" type="submit" name="button">Delete Comment</button>
</form>

<%- include ../partials/footer %>
