<% include ../partials/header %>

<h1 class="display-1 text-center">Edit Pet</h1>

<form class="" action="/pets/<%= pet._id %>?_method=PUT" method="post">
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[name]" value="<%= pet.name %>" placeholder="Pet's Name" required>
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[avatar]" value="<%= pet.avatar %>" placeholder="Avatar" required>
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[gender]" value="<%= pet.gender %>" placeholder="Gender">
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[species]" value="<%= pet.species %>" placeholder="Species i.e. cat, dog, rabbit">
  <input class="form-control form-control-lg form-clean-wide" type="text" name="pet[breed]" value="<%= pet.breed %>" placeholder="Breed i.e. dalmatian, ragdoll">
  <textarea class="form-control form-control-lg form-clean-wide" type="text" name="pet[info]" value="" placeholder="Description"><%= pet.info %></textarea>
  <button class="btn btn-dark btn-xl" type="submit" name="button">Submit</button>
</form>





<!-- Button trigger modal -->
<div class="text-center mt-5">
  <button type="button" class="btn btn-outline-danger"
    data-toggle="modal" data-target="#deleteModal">
    Delete Pet
  </button>
</div>


<!-- Modal -->
<div class="modal fade delete-modal" id="deleteModal" tabindex="-1" role="dialog"
  aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center" id="deleteModal">
          Delete Pet
        </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        Are you sure?
      </div>
      <div class="modal-footer text-center">
        <form class="" action="/pets/<%= pet._id %>?_method=DELETE" method="post">
          <button type="button" class="btn btn-secondary mr-3 btn-lg" data-dismiss="modal">No, Cancel</button>

          <button type="submit" class="btn btn-danger mr-2 ml-5 btn-lg">Yes, Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
