<% include ../partials/header %>

<a href="/register">Register</a>

<hr>

<a href="/login">Login</a>

<hr>
<a href="/secrets">Secrets</a>

<h1>pets index route success</h1>

<% pets.forEach(function(pet){ %>
  <a href="/pets/<%= pet._id %>"><%= pet.name %></a>
  <p><%= pet.species %></p>
  <p><%= pet.gender %></p>
  <p><%= pet.breed %></p>
  <p><%= pet.info %></p>
<% }); %>

<a href="/pets/new">Make new pet</a>

<% include ../partials/footer %>
