<h1>PET SHOW PAGE</h1>

<p><%= pet.name %></p>
<p><%= pet.gender %></p>
<p><%= pet.species %></p>
<p><%= pet.breed %></p>
<p><%= pet.info %></p>

<a href="/pets/<%= pet._id %>/edit">EDIT</a>

<a href="/pets">back to pets index page</a>
