<% include ../partials/header %>


<!-- PET SHOW CONTAINER -->
<div class="pet-show-container">
  <div class="row">
    <!-- PET AVATAR -->
    <img class="pet-show-avatar col-8" src="<%= pet.avatar %>" alt="">

    <!-- PET INFO -->
    <div class="pet-show-details col-4">

      <p class="display-4 pet-show-name"><%= pet.name %></p>
      <p>Gender: <%= pet.gender %></p>
      <p>Species: <%= pet.species %></p>
      <p>Breed: <%= pet.breed %></p>
      <p>Owner:
        <% if (user && user.name) { %>
          <a href="/user/<%=user._id%>"><%= user.name %></a>
        <% } else { %>
          <a href="/user/<%=user._id%>"><%= user.username %></a>
        <% } %>
      </p>

      <!-- User Buttons -->
      <% if (currUser && user && user._id.equals(currUser._id)) { %>

        <div class="mx-auto">
          <a class="btn btn-warning" href="/pets/<%= pet._id %>/edit">EDIT PET INFO</a>
          <a class="btn btn-warning" href="/pets/<%= pet._id %>/editAvatar">CHANGE AVATAR</a>
          <a class="btn btn-success" href="/pets/<%= pet._id %>/imgs/new">ADD NEW IMAGE</a>
        </div>
      <% } %>


    </div>
  </div>

</div>

<div class="pet-show-info display-4">
  <p class=""><%= pet.info %></p>
</div>

<!-- PET IMAGES -->

  <div class="d-flex flex-row flex-wrap pet-show-imgs-container justify-content-center">
      <% imgs.reverse().forEach(function(img){ %>
        <div class="pet-card">
          <a class="text-decoration-none" href="/pets/<%= pet._id %>/imgs/<%= img._id %>">
            <img class="pet-card-img" src="<%= img.image %>" alt="">
            <p class="pet-card-text"><%= img.caption %></p>
          </a>
        </div>


      <% }) %>
  </div>


<!-- Back to index page -->
<div class="text-center">
  <a class="btn btn-dark btn-lg mt-4" href="/pets/">Back to Front</a>
</div>



<% include ../partials/footer %>
